.content .img1 img {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
    position: absolute;
    top: .4rem;
    left: 3rem;
}

.content .img2 img {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
    position: absolute;
    top: 7rem;
    left: 3rem;
}

.content .img3 img {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
    position: absolute;
    top: 13.2rem;
    left: 3rem;
}

.content .img4 img {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
    position: absolute;
    top: 19.5rem;
    left: 3rem;
}











