html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0; 
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, .8);
	width: 100%;
	height: 4rem;
	padding-top: 1.5rem;
	box-sizing: border-box;
}

.container div {
	display: inline-block;
}

.container .link1 {
	margin-left: 55rem;
	box-sizing: border-box;
}

.container .link1 a{
	margin-left: 1rem;
	text-decoration: none;
	color: black;
	letter-spacing: .07rem;
	transition: .5s;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.container .link:hover {
	border-bottom: .12rem solid black;
}

.container .button {
	transition: .8s;
	width: 9rem;
	height: 2.4rem;
	padding-top: .5rem;
	box-sizing: border-box;
	border-radius: 5rem;
	position: absolute;
	top: .5rem;
	right: 7rem;
	background-color: rgba(0, 0, 0, .4);
}

.container .button a{
	box-sizing: border-box;
	text-align: center;
	color: white;
	text-decoration: none;
	margin-top: 5px;
}

.container .button:hover {
	box-shadow: 0px 8px 13px rgba(0, 0, 0, .8);
}

/* css nav */














