*
html {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body { 
    background-color: #9a9a9a ;
}

nav {
    background-color: rgba(1, 1, 1, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999;
    height: 4rem;
    box-sizing: border-box;
}

.icon-nav {
    margin-right: 15rem;
}

.icon-nav a {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    padding: 1rem 1.5rem;
}

nav .button a input {
    color: white;
    background-color: black;
    height: 2rem;
    width: 5rem;
    border-radius: 50px;
    padding-top: .0rem;
    box-sizing: border-box;
}

nav .button {
    position: absolute;
    right: 5rem;
}

nav .img img{
    width: 3rem;
    margin-left: 5rem;
    border-radius: 50px;
}

.img1{
    margin-top: 5rem;
    margin-left: 20rem;
}

.img1 img {
    width: 50rem;
    height: 43rem;
    margin-left: 28rem;
    border-radius: 45px;
}

h1 {
    position: absolute;
    top: 13rem;
    font-size: 3rem;
    letter-spacing: 1rem;
    left: 3rem;
}

.main2 {
    top: 17rem;
}

p {
    position: absolute;
    top: 23rem;
    left: 3rem;
    font-size: 1.2rem;
    letter-spacing: .2rem;
}

.button1 a input{
    background-color: black;
    color: white;
    border: none;
    padding: .5rem 6rem;
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    top: 29rem;
    box-sizing: border-box;
    font-size: 1.5rem;
    left: 4rem;
}








